:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  --bg: #111111;
  --bg-alt: #1e1e1e;
  --text: #dddddd;
  /* --text-alt: hsla(0%, 0%, 87%, .50); */
  --text-alt: rgba(221, 221, 221, 0.5);
  --border-sm: 5px;
  --border-md: 10px;
  --border-lg: 20px;
  --border-full: 50px;
  /* --box-shadow: 4px 4px 4px hsla(0%, 0%, 50%, 0.25); */
  --box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);

  background: #121212;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
